---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Fondos from '../components/Fondos.astro';
import Header from '../components/Header.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Beautiful and moderns backgrounds form tailwind">
			<main class="px-0 m-5">	
			<SectionContainer>
				<Hero></Hero>
			</SectionContainer>
			<SectionContainer> 
				<Fondos></Fondos>
			</SectionContainer>
			
			</main>
		  
</Layout>
